name: Build Windows Installer 
on: push
  
jobs:
  build_a_windows_installer:
    runs-on: self-hosted
    env:
      version: 0.9.15
    steps:
      - name: Checkout Repository Code
        uses: actions/checkout@v3
        
      - uses: actions/setup-go@v3
        with:
          go-version: '1.18.0' # The Go version to download (if necessary) and use.
      - run: go version
      - name: install tools
        run: |
          choco source add -n=mh-cbon -s="https://api.bintray.com/nuget/mh-cbon/choco"
          #choco install changelog gh-api-cli -y 
          choco install go-msi 
           
          choco install wixtoolset
          
                 
          echo "C:\Program Files\go-msi" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append 
          echo "C:\Program Files (x86)\WiX Toolset v3.11\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          
          refreshenv
          .\go-msi.exe check-env
          
          
           
      - name: build source code
        run: | 
          cd source
          
          set GOARCH=amd64
          go build -o listen13380.exe --ldflags "-X main.VERSION=${{ env.version }}" main.go
          dir 
          cd ..
          COPY source\listen13380.exe exefile\
          dir exefile\
      - name: build installer
        run: |
          go-msi check-env
          go-msi make --msi nms."${{ env.version }}".msi --version "${{ env.version }}"
          dir 
          
          
    
  

      
